@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');


/*** Main background image ***/

#landing-view {
    background-image: url(../pics/pic1.jpg);
    background-attachment: fixed;
    background-position: bottom;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    margin-bottom: 0px;
    
}
/*** background colour ***/
body{
    background-color: rgb(187, 187, 187);
}

